<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>veroSkills – Intro to Python</title>

    <meta name="description" content="Introduction to Python with VeroSkills" />
    <meta name="author" content="Tyler Maxwell" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../dist/reset.css" />
    <link rel="stylesheet" href="../../dist/reveal.css" />
    <link rel="stylesheet" href="../../dist/theme/black.css" id="theme" />

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../../plugin/highlight/monokai.css" />
</head>

<body>
    <div class="reveal">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section>
   
                    <img src="../../images/Python-logo.png" alt="python logo" style="
                height: 180px;
                margin: 0 auto 4rem auto;
                background: transparent;
              " class="demo-logo" />
    
                <h3>Introduction to Python</h3>
            </section>

            <!-- OBJECTIVE -->

            <section data-transition="slide" data-background="#4d7e65" data-background-transition="zoom">
                <h2>Lesson Objective</h2>
                <p>
                    Stated goal for the lesson
                </p>

                <aside class="notes">
                    Shhh, these are your private notes 📝
                </aside>
            </section>

            <!-- INFORMATION -->

            <section>
                <h2>Video Topic</h2>

                <p class="fragment">definitions</p>
                <table class="fragment">
                    <thead>
                        <tr class="fragment">
                            <th>Term</th>
                            <th>Definition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fragment">
                            <td>Tyler</td>
                            <td>The coolest guy</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <!-- CODE -->


            <section data-auto-animate>
            <h2 data-id="code-title">Code Title</h2>
            <pre data-id="code-animation"><code class="python" data-trim data-line-numbers>
                condition = True
                while condition:
                my_set = {"this", "that", 42, True}
            </code></pre>
            </section>

            <!-- END SLIDES -->


        <section data-markdown="notes.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n"
            data-separator-notes="^Note:">
        </section>

         

            <div style="
            position: absolute;
            bottom: 1em;
            left: 18em;
            width: 5em;
            height: 2.2em;
          ">
                <img class="fragment" src="../../images/logo.svg" width="400" height="400" alt="python logo" style="
              height: 180px;
              margin: 0 auto 4rem auto;
              background: transparent;
            " class="demo-logo" />
            </div>
        </div>
    </div>

    <script src="../../dist/reveal.js"></script>
    <script src="../../plugin/zoom/zoom.js"></script>
    <script src="../../plugin/notes/notes.js"></script>
    <script src="../../plugin/search/search.js"></script>
    <script src="../../plugin/markdown/markdown.js"></script>
    <script src="../../plugin/highlight/highlight.js"></script>
    <script>
        // Also available as an ES module, see:
        // https://revealjs.com/initialization/
        Reveal.initialize({
            controls: true,
            progress: true,
            center: true,
            hash: true,

            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [
                RevealZoom,
                RevealNotes,
                RevealSearch,
                RevealMarkdown,
                RevealHighlight,
            ],
        });
    </script>
</body>

</html>